/* Default Layout: 992px.  */

.info_down{
	
}
/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {

.separator  h4 {

	margin-top:0px !important;
}
	.contact-to input[type="text"]{
	
	margin-top:22px
	

}



/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left:10px;
}

	.navbar-toggle {

	margin-bottom: 8px;
	margin-right: 11px;
	margin-top: 8px;
	padding: 7px 4px;
	position: relative;
	}


	.separator  h4 {
		margin-top:0% !important;
	}

}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	  font-size: 1.9em;
	  font-weight: bold;
	  letter-spacing: 1px;
	  margin-left:10px;
	}

	.navbar-toggle{
		  padding: 9px 10px;
		
	}

	
	

}
